*{
    margin: 0;
    padding: 0;
}

header{
    background-color: chartreuse;
    height: 50px;
}

header nav{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.title{
    font-size: 24px;
    position: absolute;
    top: 5px;
    left: 15px;
}

.timer-div{
    position: absolute;
    justify-content: center;
    align-items: center;
    right:15px;
    top: 5px;
}

.timers{
    background-color: gray;
    padding:5px;
    width: 105px;
    height: 20px;
}

main{
    margin: 0 5%;
}

.content-section{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-div{
    display: grid;
    width: 90%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.image-div img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.grid-and-form-section{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid-section table{
    width: 100%;
    height: auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}

.first-row,.third-row,.fivth-row,.seventh-row{
    background-color: lightgreen;
}

.form-section form{
    display: flex;
    position: relative;
    flex-direction: column;
}

.submit-div{
    width: 100%;
    height: 60px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.submit-div button{
    background-color: chartreuse;
    border:none;
    padding:10px 20px;
    border-radius: 10px;
}

.movie-div{
    width: 80%;
    height: auto;
    border: 2px solid black;
}

.movie-div video{
    width: 100%;
    height: 300px;
}

footer{
    text-align: center;
    margin: 30px;
}