div{    
    border: 2px solid red;
    width: 200px;
    height: 200px;
    margin: 200px;
}

.container1 {
}

.translate-x-animation:hover{
    transform: translateX(100px);
    transition-duration: 2s;
}

@keyframes rotateAnimation{
    0%{
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes borderRadiusAnimation {
    0%{

    }
    100%{
        border-radius: 50%;
    }
}

.animation-rotate{
    animation-name: rotateAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.animation-border-radius:hover{
    animation-name: borderRadiusAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}