*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color:black;
}

a{
    color:azure;
    text-decoration: none;
}

a:active{
    color:black;
}

a:hover{
    color:red;
}

header{
    width: 100%;
    height: 60px;
    background-color: rgb(148, 224, 85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.directory-main{
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.week-section{
    display: grid;
    gap:10px;
    height: 60px;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
}

.week-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: aqua;
    color:azure;
}