form{
    margin: 20px;
    padding: 20px;
    width: 300px;
    border: 3px solid rgb(168, 219, 239);
    border-radius:15px;
    background-color: rgb(196, 196, 196);
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.3);
}

input{
    border-width:3px;
    border-radius:10px;
    background-color: rgb(168, 219, 239);    
}

select{
    border-radius: 10px;
    background-color: rgb(168, 219, 239);
}

.radius_checkbox{
    border-radius: 50%;
}

input[type="submit"]{
    text-align: center;
}