* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(133, 193, 233);
}

#logo {
    height: 6vh;
    border-radius: 15px;
}

.header-center {
    width: 30%;
    height: 8vh;
}

#local-weather {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.local-icons {
    height: 85%;
}

.header-right {
    display: flex;
    position: relative;
    width: 30%;
    height: 100%;
}

#search-input {
    position: absolute;
    top: calc(50% - 25px);
    width: 100%;
    height: 50px;
    padding: 5px;
    border: none;
    border-radius: 15px;
}

#search-input:focus {
    outline: none;
}

#search-btn {
    position: absolute;
    right: calc(5% - 22px);
    height: 48px;
    top: calc(50% - 25px);
    width: 48px;
    border: none;
    background-color: transparent;
}

#main {
    width: 100%;
    background-color: rgb(214, 234, 248);
}

.gap-div {
    height: 1vh;
    width: 100%;
}

.choose-div{
    display: flex;
    justify-content: space-around;
}

#choose-almaty,
#choose-all-city {
    width: 30%;
    height: 5vh;
    margin: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 15px;
}

#show-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10,1fr);
    gap: 20px;
}

.card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-name{
    font-size: large;
    font-weight: bold;
}

.card img{
    width:20%;    
}

.other-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}