@import url('global.css');

.teacher-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    border:2px solid black;
    padding: 20px;
}

.teacher-card img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 20px;
}
